<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Krona+One&display=swap" rel="stylesheet">

	<title>Details</title>
	<style>
		.content {
  		max-width: 700px;

  		margin: auto;
  		background: white;
  		padding: 30px;
  		background-image: url("https://i.pinimg.com/originals/73/9e/96/739e96f0224947668029d10ee4fa07ae.jpg");
  		font-family: 'Yeon Sung'; 
}
  		.back{
  			background-image: url("https://wallpapercave.com/wp/DM0NaOX.jpg") 
  		}
  		.text{
  			font-family: 'Krona One', ;


  		}
</style>
</head>
<body class="back">
	<div class="content">
	<h1><b>{{ obj.title }}</b></h1>

	<h1><u>Your interview experience!</u></h1>
	<p>{{ obj.content }}</p>

	<h1><u>Your planning methodology</u></h1>
	<p>{{ obj.planning }}</p>
</div>


</body>
</html>